
.colors{
  color: #108AD1;
  color: #0064b1;
  color: #EFEFEF;
  color: #FFFFFF;
}

:root{
  --color-header-bg: #108AD1;
  --color-header-text: #FFFFFF;

  --color-primary: #108AD1;
  --color-primary-medium: #108AD1;
  --color-primary-light: #108AD1;

  --color-secondary: #108AD1;
  --color-secondary-light: #1f8ccb;

  --color-white-like: #FCFDFD;

  --color-grey-org: #28324b;
  --color-grey: rgba(40, 50, 75, 0.5);
  --color-grey-light: rgba(40, 50, 75, 0.05);
}
