:root{
  --color-primary: #108AD1;
  --color-primary-medium: #108AD1;
  --color-primary-light: #108AD1;

  --color-secondary: #108AD1;
  --color-secondary-light: #1f8ccb;

  --color-white-like: #FCFDFD;

  --color-grey-org: #28324b;
  --color-grey: rgba(40, 50, 75, 0.5);
  --color-grey-light: rgba(40, 50, 75, 0.05);
}


.empwc{

  &__window{
    height: 97vh;
  }
}
