:root{
  --color-primary: #E60479; /* BTS secondary */
  --color-primary-medium: #E60A79;
  --color-primary-light: #EF5BA5;

  --color-secondary: #002064; /* BTS primary */
  --color-secondary-light: #29334C;

  --color-white-like: #FCFDFD;

  --color-grey-org: #28324b;
  --color-grey: rgba(40, 50, 75, 0.5); /* BTS grey-50 */
  --color-grey-light: rgba(40, 50, 75, 0.05); /* BTS grey-05 */
}
